<div class="d-flex flex-column mt-5 pt-4 align-items-center">
    <img src="/image/little-boss-oops.gif" alt="404 image" width="200px">
    <h2 class="text-danger my-3">404 - Page not accessible</h2>
    <h3 class="text-center lh-base text-secondary"><%=msg%></h3>
    <a href="/project" class="btn btn-dark  text-light">Home Page</a>
</div>

